<div class="container">
  <div class="jumbotron">
    <h1>Oh Man, What a World!</h1>
    <h2>The Unofficial Country Database</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table id="table" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Official Name</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Language</th>
            <th>Population</th>
            <th>Flag</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td>{{country.name.official}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.region}}</td>
            <td>
              <table>
                
              </table>
            </td>
            <td>{{country.population}}</td>
            <td>
              <img src={{country.flags.png}} />
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>
